
@{
    ViewBag.Title = "List";
}
<h2>List</h2>
<div ng-controller="EmployeeController as model" ng-init="model.List()">
    <form method="post" action="~/Employee/List">
        <br />




        <label for="Employee Id" hidden>Employee Id:</label><br />

        @*<ui-select ng-model="Employee.CompanyId.selected" ng-change="selectedCompanyId()" reset-search-input="false">
                <ui-select-match placeholder="Search or select a Company Id...">
                    {{$select.selected.CompanyId}}
                </ui-select-match>
                <ui-select-choices repeat="item in (Employee.CompanyId| filter: $select.search)" position="down"| orderBy="EmployeeName" >{{item.FirstName}}


                </ui-select-choices>
            </ui-select>*@





        <input list="Employee Id" type="hidden" class="form-control" name="Employee.Employee Id" value="@Model.Employee Id">
        <input type="hidden" name="Employee.Employee Id" value="@Model.Employee Id" hidden />
        <datalist id="Employee Id" hidden>
            <option value="1" hidden>
            <option value="2" hidden>
        </datalist>
        <label for="Hiring Manager" hidden>Hiring Manager:</label>
        <input type="hidden" class="form-control" name="Employee.Hiring Manager" value="@Model.Hiring Manager" />
        <label for="Namer">Name:</label>
        <input type="text" class="form-control" name="Employee.Name" value="@Model.Name" />
        <label for="MiddleName">MiddleName:</label>
        <input type="text" class="form-control" name="Employee.MiddleName" value="@Model.MiddleName" />
        <label for="LastName">Lastname:</label>
        <input type="text" class="form-control" name="Employee.Lastname" value="@Model.LastName" />
        <label for="Department">Department:</label>
        <input type="text" class="form-control" name="Employee.Department" value="@Model.Department" />
        <br />
        <input type="Submit" value="Save" class="btn btn-primary" style="margin-right:5px;" /> &nbsp;&nbsp;
        <a href="/Employee/Index" class="btn btn-danger"><i class="glyphicon glyphicon-close "></i>Close</a>

    </form>

    @*<a href="/Company/Index" ng-click="model.Update(Company)" class="btn btn-primary" placeholder="{{Company.Companyname}}"> <i class="glyphicon glyphicon-edit"></i> Save Changes</a>*@

    @*<a href="/Position/Index" class="btn btn-info" type="button" ng-click="model.Update()" value="{{ Position.PositionName }}"><i class="glyphicon glyphicon-edit"></i> Edit</a>*@


</div>

